/*-- scss:defaults --*/

green : #02b875

// high level overall container for the callout
.solutionbox{
  //margin-top: 1em;
  margin-bottom: 1em;  
  border-radius: .25rem;
  border-left: solid #acacac .3rem;
  border-right: solid 1px silver;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  border-left-color: ##f0ad4e !important;
}

// class for the icon
.solutionbox-icon{
  height: 0.9rem;
  width: 0.9rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 0.9rem 0.9rem;
  margin-top: .5rem;
  padding-right: .5rem;
    background-image: url('check-double-solid.svg');
}

// box for the title
.solutionbox-header{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: none;
  font-weight: 600;
  opacity: 85%;
  font-size: 0.9rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex
  background-color: #f7d3a1
}

// box for the body, where all the content acutally goes
.solutionbox-body{
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
}
